body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  z-index: 1;
  position: relative;
  text-align: center;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute; 
  background: #555;
  padding: 10px;
  width: 200px;
  height: 100vw; 
  }

a {
  color: rgb(7, 7, 7);
  margin-top: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  flex-wrap: wrap;
  }

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin-left: 200px;
}

.containerformedia {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin-left: 200px;
}

.containerforexlain {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.main {
  flex: 1;
  background: #f4f4f4;
  margin: 10px;
  padding: 10px;
  min-width: 150px;
}

.sidebar {
  flex: 1;
  padding: 20px;
  background: #ddd;
  margin: 10px;
}

.mediabox {
  flex: 1;
  padding: 20px;
  background: #ddd;
  margin: 10px;
  border-radius: 20px;
}

video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

nav a:hover {
  background-color: rgb(15, 14, 14); 
  color: white; 
  border-radius: 5px; 
  padding: 5px; 
}

.myjourney {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 a:hover {
  background-color: rgb(15, 14, 14); 
  color: white; 
  border-radius: 5px; 
  padding: 5px; 
}

@media screen and (max-width: 768px) {
  nav {
    position: relative;
    width: 100%; 
    height: auto;
  }

  .container, .containerformedia {
    flex-direction: column;
    margin-left: 0;
  }

  .main {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  nav {
    width: 100%; 
    padding: 5px;
  }

  .container, .containerformedia {
    padding: 10px;
  }

  .main {
    padding: 10px;
  }

  .sidebar, .mediabox {
    margin: 5px 0;
    padding: 10px;
  }

  a {
    padding: 5px;
  }
}
